.container{
    display:flex;
    .logo{
        line-height: 90px;
        padding-left: 20px;
        background-color: #002340;
        img{
            height: 35px;
            vertical-align: middle;
            position: relative;
            margin: 0px 0px 5px 0px;
        }
        h1{
            display: inline-block;
            color:#fff;
            padding-left: 10px;
            font-size: 20px;
            margin: 0px;
        }
    }
    .nav_left{
        min-width: 180px;
        height: calc(100vh);
        background-color: #001529

    }
    .main{
        background-color: #f1f3f5;
        height:calc(100vh);
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
     
        background-clip: content-box;
        
        .home{
            font-size: 20px;
            background: transparent;
            text-align: left;
            .welcome{
                font-family: "bth";
                padding:  10px 10px 10px ;
                a{
                    font-size:14px;
                    color: #09f;
                }
            }
        }
        .chart{
            width:38vw;
            height:50vh;
        }
        .chart_width{
            width:80.5vw;
            height:50vh;
        }

    }
    .error404{
        position:absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}