// 导航条banner
.banner{
  @banheight:500px;
  height: @banheight;
  background:#20232A;
  background: center/cover url(../assets/img/banner3.png);
  color: #fff;
  h1{
    margin-top: 120px;
    color: #fff;
    font-size: 60px;
    font-family: "优设标题黑";
  }
  h3{
    width: 700px;
    color: #fff;
    font-size: 20px;
    font-family: "优设标题黑";
  }
}
.intro{
  height: 700px;
  background-color: #EEF0E4;
}
