nav{
  height: 120px;
  background-color: #ececec;
}
.mg1000px{
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}
nav ul {
  float: right;
  width: 300px;
  height: 120px;
}
nav ul li{
    float: left;
    list-style-type: none;
    height: 100%;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* Footer 组件 */
footer{
  position: relative;
  height:200px;
  background-color: #777;
  text-align: center;
}
.copyright{
  position: relative;
  bottom: 0;
  height: 40px;
  background-color: #232323;
  color:#fff;
  line-height: 40px;  
  text-align: center;
}
._contact{
  height: 100px;
  background-color: #CE2026;
}
._info{
  height:250px;
  background-color: #2f2e2e;
}
